{% extends "main.html" %}

{% block main %}

    <div class="homepage" id="content-onecol"> 



 
<!--
<p class="big_homepage_links"> 
<span> 
    <a href="/view_random">View a random image &raquo;</a> 
</span> 
</p> 
-->
 
<p> 
Sharing.Dartmouth.edu (beta) is a branding for all of the ways that Dartmouth shares with the world.
</p>

<p>
With the increasing emphasis on Open Education Resources in higher education, Dartmouth needs a coherent way to articulate its contribution. Dartmouth has several examples of what are commonly thought of as open educational resources, from its policy related to the Compact for Open-Access Publishing Equity, to the various lecture series available through the Dartmouth Youtube Channel.
Additionally, Dartmouth has several rich, interactive resources--a rarity in the Open Education movement.
</p>


</div>
{% endblock %}
