{% extends "main.html" %}


{% block main %}


	<div id="content-onecol"> 
 
	
		
			<div class="post-235 page type-page hentry" id="post-235"> 
<!--
				<h2><a href="http://cdc-phil.releaseourdata.com/?page_id=235" rel="bookmark" title="Permanent Link to "></a></h2>
--> 
				
				
 
				<div class="entry"> 
					
 
 
<div style="text-align: center; width: 100%; display: block;"> 
    <a href="http://cs.dartmouth.edu/~cs5/schedule.html">
        <object style="width: 420px; height: 315px;" width="100" height="100" data="http://static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf?mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Fcolor%2Flayout.xml&amp;backgroundColor=2A5083&amp;showFlipBtn=true&amp;autoFlip=true&amp;autoFlipTime=6000&amp;documentId=090918150339-ff001b90419d4b7e9301d5663f042cf6&amp;docName=scott2009&amp;username=Dartmouth_college_library&amp;loadingInfoText=The%20Artistry%20of%20the%20Homeric%20Simile.%20William%20C.%20Scott&amp;et=1253742981629&amp;er=99" type="application/x-shockwave-flash">
            <param name="data" value="http://static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf?mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Fcolor%2Flayout.xml&amp;backgroundColor=2A5083&amp;showFlipBtn=true&amp;autoFlip=true&amp;autoFlipTime=6000&amp;documentId=090918150339-ff001b90419d4b7e9301d5663f042cf6&amp;docName=scott2009&amp;username=Dartmouth_college_library&amp;loadingInfoText=The%20Artistry%20of%20the%20Homeric%20Simile.%20William%20C.%20Scott&amp;et=1253742981629&amp;er=99">
            <param name="allowfullscreen" value="true">
            <param name="menu" value="false">
            <param name="src" value="http://static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf?mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Fcolor%2Flayout.xml&amp;backgroundColor=2A5083&amp;showFlipBtn=true&amp;autoFlip=true&amp;autoFlipTime=6000&amp;documentId=090918150339-ff001b90419d4b7e9301d5663f042cf6&amp;docName=scott2009&amp;username=Dartmouth_college_library&amp;loadingInfoText=The%20Artistry%20of%20the%20Homeric%20Simile.%20William%20C.%20Scott&amp;et=1253742981629&amp;er=99">
            <param name="flashvars" value="mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Fcolor%2Flayout.xml&amp;backgroundColor=2A5083&amp;showFlipBtn=true&amp;autoFlip=true&amp;autoFlipTime=6000&amp;documentId=090918150339-ff001b90419d4b7e9301d5663f042cf6&amp;docName=scott2009&amp;username=Dartmouth_college_library&amp;loadingInfoText=The%20Artistry%20of%20the%20Homeric%20Simile.%20William%20C.%20Scott&amp;et=1253742981629&amp;er=99">
        </object>
    </a>
</div> 
    <p> 

<div id="desc"> 
    <p>
    This book published in 2009 by classics professor William Scott is available for free online courtesy of the Dartmouth library. It's available as <a href="http://www.dartmouth.edu/~library/digital/publishing/scott2009/ocm318673021.htm">HTML (web)</a>, <a href="http://www.dartmouth.edu/~library/digital/publishing/scott2009/ocm318673021.pdf">pdf (print/download)</a>, and <a href="http://issuu.com/Dartmouth_college_library/docs/scott2009?mode=embed&layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Fcolor%2Flayout.xml&backgroundColor=2A5083&showFlipBtn=true">page turner</a>.
    </p>
    <p>
    From the <a href="http://www.dartmouth.edu/~library/digital/publishing/scott2009/">Dartmouth library website</a>:
    </p>
    <p>
    "The similes in Homer are treasure troves. They describe scenes of Greek life that are not presented in their simplest form anywhere else: landscapes and seascapes, storms and calm weather, fighting among animals, aspects of civic life such as settlements of disputes, athletic contests, horse races, community entertainment, women carrying on their daily lives and men running their farms and orchards. But the similes also show Homer dealing with his tradition. They are additions to the narrative showing how the Greeks found and developed parallels between two scenes, each of which elucidated and interpreted the other, and then expressed those scenes in effective poetic language."
    <a href="http://www.dartmouth.edu/~library/digital/publishing/scott2009/">View the Dartmouth Library page &raquo;</a>
    </p>

</div> 
 
	
	</div> 


{% endblock %}
