{% extends "main.html" %}


{% block main %}


	<div id="content-onecol"> 
 
	
		
			<div class="post-235 page type-page hentry" id="post-235"> 
<!--
				<h2><a href="http://cdc-phil.releaseourdata.com/?page_id=235" rel="bookmark" title="Permanent Link to "></a></h2>
--> 
				
				
 
				<div class="entry"> 
					
 
 
<div style="text-align: center; width: 100%; display: block;"> 
    <a href="http://cs.dartmouth.edu/~cs5/schedule.html">
    <img src="http://cs.dartmouth.edu/~cs5/lectures/1122/heap-example.gif"></a>
    </a>
</div> 
    <p> 

<div id="desc"> 
    <p>
    Originally written by professor Tom Cormen, the detailed lecture notes for Introduction to Computer Science have been built on and perfected by various other Computer Science professors who have taught the course over the years. The notes are written in a very accessible paragraph form. Homework assignments and practice exams are also available on <a href="http://cs.dartmouth.edu/~cs5">the main course website</a>.
    </p>
    <p>
    <a href="http://cs.dartmouth.edu/~cs5/schedule.html">View the lecture notes &raquo;</a>
    </p>
</div> 
 
	
	</div> 


{% endblock %}
