{% extends "main.html" %}

{% block main %}

    <div class="homepage" id="content-onecol"> 



<span class="front_page_item">
<p class="title">
<a href="/tedx">TEDxDartmouth</a>
</p>
<a href="/tedx">
<img src="http://farm5.static.flickr.com/4019/4543216579_972e3eae6d.jpg"></img>
</a>
</span>
 
<span class="front_page_item">
<p class="title">
<a href="/cs5">Introduction to Computer Science</a>
</p>
<img src="http://www.cs.dartmouth.edu/~cs5/lectures/1119/qsort-worst-case.gif"></img>
<!--
http://www.cs.dartmouth.edu/~cs5/lectures/1111/states-DLL.gif
-->

</span>
 
<!--
<p class="big_homepage_links"> 
<span> 
    <a href="/view_random">View a random image &raquo;</a> 
</span> 
</p> 
-->
 
<p> 
</p>


</div>
{% endblock %}
