{% extends "main.html" %}


{% block main %}


	<div class="homepage" id="content-onecol"> 
 
	
		
<!--
				<h2><a href="http://cdc-phil.releaseourdata.com/?page_id=235" rel="bookmark" title="Permanent Link to "></a></h2>
--> 
				
				
 
				<div class="entry"> 
					
 
 
<div style="text-align: center; width: 100%; display: block;"> 
    <object width="480" height="385"><param name="movie" value="http://www.youtube.com/p/803AE1A9F0613DF1?hl=en_US&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/p/803AE1A9F0613DF1?hl=en_US&fs=1" type="application/x-shockwave-flash" width="480" height="385" allowscriptaccess="always" allowfullscreen="true"></embed></object>
</div> 
    <p> 

<div id="desc"> 
    <p>
    TEDxDartmouh was a student-organized faculty lecture series that brought together the brightests Dartmouth faculty and students in the spirit of "ideas worth sharing." All 18 lecture videos are available in the embedded player above.
    </p>
    <p>
    <a href="http://www.dartmouth.edu/~tedx/multimedia/">TEDxDartmouth website &raquo;</a>
    </p>
</div> 
 
	


{% endblock %}
